#built application files
*.apk
*.ap_

#files for the dex VM
*.dex

#Java class files
.class

#generate files
bin/
gen/

#gradle files
.gradle/
build/

#local config
/local.properties

#proguard from Ecplise
proguard/

#from Eclipse
.metadata/

#Mac OS X
.DS_Store

#Windows
Thumbs.db

misc.xml
.idea/workspace.xml
.idea/tasks.xml
.idea/datasources.xml
.idea/dataSources.ids